* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 45px;
}

@media (min-width: 0px) and (max-width: 991px) {
  .abouts_about .abouts_about__content {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .abouts_about .container {
    padding: 0px  10px !important;
  }
  .abouts_about .imginfo__box {
    padding: 30px;
    min-width: 150px;
    min-height: 150px;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .abouts_about .abouts_about__content .bg-shape {
    width: 200px !important;
    height: 200px !important;
  }
  .abouts_about .abouts_about__content .imginfo__box {
    min-width: 100px !important;
    min-height: 100px !important;
  }
}

.abouts_about .abouts_about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.abouts_about .abouts_about__content .abouts_about__left {
  width: 100%;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content {
  position: relative;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content img {
  max-width: 100%;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content .bg-shape {
  border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
  background-color: #aee4c3;
  width: 500px;
  height: 500px;
  top: 0px;
  position: absolute;
  z-index: -1;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content .imginfo__box {
  max-width: 100%;
  background-color: #008030;
  color: #fff;
  position: absolute;
  right: 85px;
  bottom: 10px;
  padding: 35px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  border-radius: 8px;
  min-height: 200px;
  transform: rotate(45deg);
  text-align: center;
  z-index: 3;
  box-sizing: border-box;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content .imginfo__box .imginfo__info {
  transform: rotate(-45deg);
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content .imginfo__box .imginfo__info h6 {
  font-size: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0 0 10p;
}

.abouts_about .abouts_about__content .abouts_about__left .abouts_about__left__content .imginfo__box .imginfo__info p {
  color: #f5e8e8;
  font-size: 24px;
  line-height: 28px;
  margin-top: .25rem;
}

.abouts_about .abouts_about__content .abouts_about__right {
  width: 100%;
}

.abouts_about .abouts_about__content .abouts_about__right h4 {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

.abouts_about .abouts_about__content .abouts_about__right h1 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
  margin-top: 1.5rem;
}

.abouts_about .abouts_about__content .abouts_about__right p {
  font-size: 18px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
  margin-top: 1.5rem;
}

.abouts_about .abouts_about__content .abouts_about__right .loremm {
  font-size: 18px;
  font-weight: 400;
  color: #97a1a9;
  line-height: 28px;
  margin-top: 1.5rem;
}

.abouts_about .abouts_about__content .btn {
  border: 1px solid #00a63f;
  border-radius: 8px;
  padding: 15px 50px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: #ffffff;
  background-color: #00a63f;
  display: inline-block;
  cursor: pointer;
  margin-top: 1.6rem;
}

.abouts_about .abouts_about__content .btn:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

.abouts_about .abouts_about__content .btn-cirtle {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 22px;
  padding-left: 5px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  border: 3px solid #009f4d;
  margin-left: 10px;
}

.abouts_about .abouts_about__content .btn-cirtle i {
  color: #009f4d;
}

.End-About {
  cursor: pointer;
  margin-top: 20px;
}

.End-About .End-About__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.End-About .End-About__content .End-About__col {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  background-color: #f8f9fa;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.End-About .End-About__content .End-About__col .left i {
  font-size: 38px;
  width: 40px;
  color: #009f4d;
}

.End-About .End-About__content .End-About__col .right h2 {
  color: black;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
}

.End-About .End-About__content .End-About__col .right h2:hover {
  color: #009f4d;
}

.End-About .End-About__content .End-About__col .right p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: .8;
}

@media (max-width: 767px) {
  .End-About .End-About__content {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .End-About .End-About__content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) and (max-width: 1080px) {
  .End-About .End-About__col {
    padding: 50px 20px !important;
  }
}

.Start-Features {
  padding: 3rem 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Start-Features .Start-Features__bottom {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .Start-Features .Start-Features__bottom .col {
    padding: 50px 30px !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .Start-Features .Start-Features__bottom {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .Start-Features .Start-Features__bottom .col {
    padding: 50px 30px !important;
  }
}

.Start-Features .Start-Features__top {
  padding-top: 3rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.Start-Features .Start-Features__top p {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.Start-Features .Start-Features__top h2 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.Start-Features .Start-Features__bottom {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.Start-Features .Start-Features__bottom .col {
  cursor: pointer;
  padding: 50px 35px;
  background-color: #f8f9fa;
  display: flex;
  gap: 20px;
  border-radius: 8px;
}

.Start-Features .Start-Features__bottom .col .right h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
}

.Start-Features .Start-Features__bottom .col .right h2:hover {
  color: #008030;
}

.Start-Features .Start-Features__bottom .col .right p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
}

.Start-Features .Start-Features__bottom .col .left i {
  font-size: 38px;
  width: 40px;
  color: #009f4d;
}

.Start-StatWimg {
  background-color: #f8f9fa;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 0px) and (max-width: 467px) {
  .Start-StatWimg .Start-StatWimg__content {
    grid-template-columns: 1fr !important;
  }
  .Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left__content {
    grid-template-columns: 1fr !important;
  }
  .Start-StatWimg .Start-StatWimg__right {
    margin-top: 1.5rem;
  }
}

@media (min-width: 468px) and (max-width: 991px) {
  .Start-StatWimg .Start-StatWimg__content {
    grid-template-columns: 1fr !important;
  }
  .Start-StatWimg .Start-StatWimg__right {
    margin-top: 1.5rem;
  }
}

.Start-StatWimg .Start-StatWimg__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left {
  padding-top: 2rem;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left p {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left h1 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .left p,
.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .right p {
  color: #009f4d;
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .left h3,
.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .right h3 {
  margin-bottom: 12px;
  font-size: 22px;
  line-height: 28px;
  color: #3f3a64;
  display: inline-block;
  font-weight: 600;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .left span,
.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__left .Start-StatWimg__left__content .right span {
  font-size: 18px;
  font-weight: 400;
  color: #97a1a9;
  line-height: 28px;
  display: block;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__right {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.Start-StatWimg .Start-StatWimg__content .Start-StatWimg__right img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.cover__About {
  background: url(/img/aboutCover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
}

.cover__About::before {
  content: "";
  background-color: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.cover__About .cover__About__content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 700px;
  text-align: center;
}

.cover__About .cover__About__content h1 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  color: white;
}

.cover__About .cover__About__content p {
  color: #eee;
  margin-top: 1rem;
}

.cover__About .cover__About__content .btn_video {
  margin-top: 1rem;
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 22px;
  padding-left: 5px;
  text-align: center;
  line-height: 65px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all .3s;
}

.cover__About .cover__About__content .btn_video:hover {
  transform: scale(1.1);
}

.cover__About .cover__About__content .btn_video i {
  color: #fff;
}

.Start-Team {
  padding-top: 3rem;
  padding-bottom: 3rem;
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 575px) {
  .Start-Team .Start-Team__content {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }
  .Start-Team .Start-Team__content img {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .Start-Team .Start-Team__content {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }
  .Start-Team .Start-Team__content img {
    width: 100%;
  }
}

.Start-Team .Start-Team__title {
  padding-top: 3rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.Start-Team .Start-Team__title p {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

.Start-Team .Start-Team__title h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.Start-Team .Start-Team__content {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 25px;
}

.Start-Team .Start-Team__content .col__img {
  position: relative;
}

.Start-Team .Start-Team__content .col__img:hover .overlay {
  opacity: 1;
}

.Start-Team .Start-Team__content .col__img:hover .overlay .overlay__details {
  opacity: 1;
  top: 30%;
}

.Start-Team .Start-Team__content .col__img img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 8px;
}

.Start-Team .Start-Team__content .col__img .overlay {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .2s ease-in-out;
  border-radius: 8px;
}

.Start-Team .Start-Team__content .col__img .overlay .overlay__details {
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 0;
  padding: 10%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  transition: all .2s ease-in-out;
  text-align: center;
}

.Start-Team .Start-Team__content .col__img .overlay .overlay__details p {
  color: #b0bdc9;
  font-size: 20px;
}

.Start-Team .Start-Team__content .col__img .overlay .overlay__details div {
  margin-top: 1.5rem;
}

.Start-Team .Start-Team__content .col__img .overlay .overlay__details div i {
  line-height: 37px;
  color: #616161;
  font-size: 14px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.2s linear;
  color: white;
}

.Start-Team .Start-Team__content .col__img .overlay .overlay__details div i:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.Start-Team .Start-Team__content .col__footer {
  text-align: center;
  margin-top: 1.5rem;
}

.Start-Team .Start-Team__content .col__footer P {
  font-size: 18px;
  font-weight: 400;
  color: #97a1a9;
  line-height: 28px;
}

.Start-Team .Start-Team__content .col__footer h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
}

.Start-Team .Start-Team__content .col__footer h2:hover {
  color: #009f4d;
}

.star-Contact {
  background-color: #f8f9fa;
  padding: 3rem;
}

.star-Contact .star-Contact__title {
  padding-top: 3rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.star-Contact .star-Contact__title h2 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.star-Contact .star-Contact__title p {
  padding-top: 1.5rem;
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
}

@media (min-width: 0px) and (max-width: 767px) {
  .star-Contact {
    padding: 0px !important;
  }
  .star-Contact .container {
    padding: 0px !important;
  }
  .star-Contact .star-Contact__content {
    grid-template-columns: 1fr !important;
  }
  .star-Contact .footer__contact__bottom .footer__content {
    grid-template-columns: 1fr !important;
  }
  .star-Contact .footer__contact__bottom p {
    margin-left: 0px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .star-Contact .star-Contact__content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .star-Contact .star-Contact__content .col {
    padding: 20px !important;
  }
}

.star-Contact .star-Contact__content {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.star-Contact .star-Contact__content .col {
  display: flex;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.star-Contact .star-Contact__content .col .left {
  font-size: 40px;
  color: #3f3a64;
}

.star-Contact .star-Contact__content .col .right {
  padding-left: 20px;
}

.star-Contact .star-Contact__content .col .right h2 {
  font-size: 22px;
  font-weight: 600;
}

.star-Contact .star-Contact__content .col .right p {
  font-size: 18px;
  font-weight: 400;
  color: #97a1a9;
  line-height: 28px;
}

.star-Contact .body__cotact {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.star-Contact .body__cotact iframe {
  width: 100%;
}

.star-Contact .footer__contact {
  max-width: 100%;
}

.star-Contact .footer__contact .footer__contact__top {
  max-width: 800px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.star-Contact .footer__contact .footer__contact__top h2 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.star-Contact .footer__contact .footer__contact__top p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
}

.star-Contact .footer__contact .footer__contact__bottom {
  max-width: 800px;
  margin: auto;
}

.star-Contact .footer__contact .footer__contact__bottom .footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.star-Contact .footer__contact .footer__contact__bottom .footer__content .box {
  padding: 0 25px;
  height: 60px;
  border: 1px solid #eee;
  border-radius: 8px;
  font-size: 18px;
  color: black;
  z-index: 4;
}

.star-Contact .footer__contact .footer__contact__bottom .footer__content .box:focus {
  background-color: transparent;
  border: 1px solid #3f3a64 !important;
  outline: none;
}

.star-Contact .footer__contact .footer__contact__bottom p {
  border: 1px solid #00a63f;
  border-radius: 8px;
  padding: 15px 50px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  color: #ffffff;
  background-color: #00a63f;
  display: inline-block;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-left: 73%;
}

.star-Contact .footer__contact .footer__contact__bottom #box {
  margin-top: 20px;
  width: 100%;
  padding: 0 25px;
  height: 150px;
  border: 1px solid #eee;
  border-radius: 8px;
  font-size: 18px;
}

.star-Contact .footer__contact .footer__contact__bottom #box::placeholder {
  transform: translateY(-140%);
}

.star-Contact .footer__contact .footer__contact__bottom #box:focus {
  background-color: transparent;
  border: 1px solid #3f3a64 !important;
  outline: none;
}

body {
  scroll-behavior: smooth;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  width: 50px;
  height: 50px;
  background: #009f4d;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  right: 15px;
  bottom: 15px;
  color: #fff;
  position: fixed;
}
/*# sourceMappingURL=page.css.map */