* {
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 45px;
}

body {
  scroll-behavior: smooth;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: .5;
}

.cd-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  width: 50px;
  height: 50px;
  background: #009f4d;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
  right: 15px;
  bottom: 15px;
  color: #fff;
  position: fixed;
}

.Start-Services {
  background-color: #f7f7f7;
  padding-bottom: 3rem;
}

@media (max-width: 991px) {
  .Start-Services .Start-Services__bottom {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.Start-Services .Start-Services__top {
  padding-top: 6rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.Start-Services .Start-Services__top h2 {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.Start-Services .Start-Services__top p {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.Start-Services .Start-Services__bottom {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.Start-Services .Start-Services__bottom .col-content {
  text-align: center;
  padding: 45px 50px;
  background-color: #fff;
}

.Start-Services .Start-Services__bottom .col-content h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
  margin-bottom: 1.5rem;
}

.Start-Services .Start-Services__bottom .col-content p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.Start-Services .Start-Services__bottom .col-content h4 {
  border: 1px solid #00a63f;
  border-radius: 8px;
  padding: 15px 50px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #ffffff;
  background-color: #00a63f;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.Start-Services .Start-Services__bottom .col-content h4:hover {
  background-color: #008030;
}

.Start-Services .Start-Services__bottom .col {
  max-width: 100%;
}

.Start-Services .Start-Services__bottom .col img {
  width: 100%;
  height: 100%;
}

.Start-Features {
  padding: 3rem 0;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Start-Features .Start-Features__bottom {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .Start-Features .Start-Features__bottom .col {
    padding: 50px 30px !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .Start-Features .Start-Features__bottom {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .Start-Features .Start-Features__bottom .col {
    padding: 50px 30px !important;
  }
}

.Start-Features .Start-Features__top {
  padding-top: 3rem;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.Start-Features .Start-Features__top p {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.Start-Features .Start-Features__top h2 {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.Start-Features .Start-Features__bottom {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.Start-Features .Start-Features__bottom .col {
  cursor: pointer;
  padding: 50px 35px;
  background-color: #f8f9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-radius: 8px;
}

.Start-Features .Start-Features__bottom .col .right h2 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 0;
}

.Start-Features .Start-Features__bottom .col .right h2:hover {
  color: #008030;
}

.Start-Features .Start-Features__bottom .col .right p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
}

.Start-Features .Start-Features__bottom .col .left i {
  font-size: 38px;
  width: 40px;
  color: #009f4d;
}

.Start-Contact {
  background: url(/img/aboutCover.jpg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  background-repeat: no-repeat;
  z-index: 0;
  background-size: 100%;
}

@media (min-width: 0px) and (max-width: 991px) {
  .Start-Contact .contact__conTent {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.Start-Contact::before {
  content: "";
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.Start-Contact .contact__conTent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.Start-Contact .contact__conTent .left {
  padding-top: 3rem;
  padding-right: 3rem;
}

.Start-Contact .contact__conTent .left h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f8f9fa;
  display: block;
}

.Start-Contact .contact__conTent .left p {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
  color: #f8f9fa;
}

.Start-Contact .contact__conTent .left .left__col {
  border-bottom: 1px solid #aaa;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Start-Contact .contact__conTent .left .left__col i {
  font-size: 40px;
  color: #f8f9fa;
  display: block;
}

.Start-Contact .contact__conTent .left .left__col .col__content {
  padding-left: 30px;
}

.Start-Contact .contact__conTent .left .left__col .col__content p {
  font-size: 18px;
  font-weight: 400;
  color: #97a1a9;
  line-height: 28px;
  color: #eee;
}

.Start-Contact .contact__conTent .rightt {
  padding: 60px;
  background-color: white;
  border-radius: 10px;
}

.Start-Contact .contact__conTent .rightt h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.Start-Contact .contact__conTent .rightt p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.Start-Contact .contact__conTent .rightt input {
  margin-bottom: 20px;
  background: #f7f7f7;
  text-transform: capitalize;
  height: 60px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  color: #666;
  padding: 12px 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Start-Contact .contact__conTent .rightt .form-control {
  margin-bottom: 20px;
  background: #f7f7f7;
  text-transform: capitalize;
  height: 60px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  color: #666;
  height: 101px;
  padding: 12px 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Start-Contact .contact__conTent .rightt .btn {
  border: 1px solid #00a63f;
  border-radius: 8px;
  padding: 15px 50px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #ffffff;
  background-color: #00a63f;
  display: inline-block;
  cursor: pointer;
}

.Start-Contact .contact__conTent .rightt .btn:hover {
  background-color: #008030;
}

.Start-MoreService {
  background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.Start-MoreService .Start-MoreService__top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.Start-MoreService .Start-MoreService__top h1 {
  font-size: 14px;
  font-weight: 600;
  color: #7e7d7d;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.Start-MoreService .Start-MoreService__top p {
  font-size: 35px;
  font-weight: 700;
  color: #3f3a64;
  line-height: 45px;
}

.Start-MoreService .Start-MoreService__bottom {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Start-MoreService .Start-MoreService__bottom .col__content {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.05);
          box-shadow: 1px 1px 5px 0px rgba(1, 1, 1, 0.05);
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.Start-MoreService .Start-MoreService__bottom .col__content:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Start-MoreService .Start-MoreService__bottom img {
  max-width: 65px;
}

.Start-MoreService .Start-MoreService__bottom h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
  margin-top: 25px;
}

.Start-MoreService .Start-MoreService__bottom p {
  font-size: 17px;
  font-weight: 400;
  color: #666;
  line-height: 27px;
  opacity: 0.8;
  margin-top: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .Start-MoreService .Start-MoreService__bottom {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
  }
  .Start-MoreService .Start-MoreService__bottom .col__content {
    padding: 1.5rem;
  }
  .Start-MoreService .Start-MoreService__top p {
    font-size: 32px !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .Start-MoreService .Start-MoreService__bottom {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px;
  }
  .Start-MoreService .Start-MoreService__bottom .col__content {
    padding: 1.5rem;
  }
  .Start-MoreService .Start-MoreService__top p {
    font-size: 32px !important;
  }
}

.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100px;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo h1 a {
  text-decoration: none;
}

.header .container .logo h1 a i {
  color: #009F4D;
  font-size: 28px;
}

.header .container .logo h1 a span {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  line-height: 36px;
}

.header .container .logo h1 a p {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  line-height: 17px;
  opacity: 0.9;
  margin-left: 40px;
}

.header .container .navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  line-height: 23px;
  opacity: 0.8;
  padding: 14px 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
  margin-right: 25px;
}

.header .container .navbar a i {
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2px;
}

.header .container .navbar a:hover {
  opacity: 1;
}

.header .container .dropdown {
  position: relative;
  display: inline-block;
}

.header .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 35px;
  right: 220px;
  border-radius: 20px;
}

.header .container .dropdown .dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  opacity: 0.8;
  margin-right: 0;
  font-size: 15px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 28px;
}

.header .container .dropdown .dropdown-content::before {
  content: '';
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 1px solid #ffffff;
  display: block;
  border-right: none;
  border-bottom: none;
  -webkit-transform: translateX(-50%) rotateZ(45deg);
          transform: translateX(-50%) rotateZ(45deg);
  position: absolute;
  top: -7px;
  right: 85px;
  z-index: 1001;
}

.header .container .dropdown .show {
  display: block;
}

.header .container .funtion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .funtion .homeSearch {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #009F4D;
  outline: 0;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .funtion .homeSearch i {
  color: #ffffff;
  margin: auto;
}

.header .container .funtion .homeSearch .icon-close {
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .container .funtion .homeSearch .search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 88%;
}

.header .container .funtion .darkAndlight {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  color: #eee;
}

.header .container .funtion .darkAndlight i {
  font-size: 24px;
}

.header .container .hamburger {
  display: none;
  background-color: #009F4D;
  border-radius: 3px;
  padding: 8px 5px;
}

.header .container .hamburger .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 3px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  .header .container .hamburger {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header .container {
    max-width: 720px;
    padding: 0;
  }
  .header .container .navbar {
    position: fixed;
    left: 0;
    top: -100%;
    gap: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .container .navbar.active1 {
    top: 97.5px;
  }
  .header .container .funtion {
    display: none;
  }
  .header .container .funtion .homeSearch {
    display: none;
  }
  .header .container .funtion .darkAndlight {
    display: none;
  }
  .header .container .hamburger {
    display: inline-block;
  }
  .header .container .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .container .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  .header .container .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .header .container {
    max-width: 540px;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .header .container {
    padding: 0 15px;
  }
}

.sticky {
  padding: 10px 0;
  height: 80px;
  background: #ffffff;
}

.sticky .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky .container .logo h1 a {
  text-decoration: none;
}

.sticky .container .logo h1 a i {
  color: #009F4D;
  font-size: 28px;
}

.sticky .container .logo h1 a span {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: #213364;
  line-height: 36px;
}

.sticky .container .logo h1 a p {
  font-size: 14px;
  font-weight: 600;
  color: #213364;
  line-height: 17px;
  opacity: 0.9;
  margin-left: 40px;
}

.sticky .container .navbar a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #3f3a64;
  line-height: 23px;
  opacity: 0.7;
  padding: 14px 0 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: uppercase;
  margin-right: 25px;
}

.sticky .container .navbar a i {
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2px;
}

.sticky .container .navbar .active {
  opacity: 0.9;
  color: #009F4D;
}

.sticky .container .navbar .active1 {
  color: #fff;
}

.sticky .container .funtion {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sticky .container .funtion .homeSearch {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #009F4D;
  outline: 0;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.sticky .container .funtion .homeSearch i {
  color: #ffffff;
}

.sticky .container .funtion .homeSearch .icon-close {
  position: absolute;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sticky .container .funtion .homeSearch .search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate(40px, 0);
          transform: translate(40px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 88%;
}

.sticky .container .funtion .homeSearch .search-input input[type="text"] {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

.sticky .container .funtion .homeSearch .search-input input {
  color: #fff !important;
  font-size: 54px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  font-weight: 200;
  height: 100vh;
  width: 100%;
}

.sticky .container .funtion .darkAndlight {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  color: #3f3a64;
}

.sticky .container .funtion .darkAndlight i {
  font-size: 24px;
}

.active-trans {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: none;
}

.slider {
  position: relative;
  width: 100%;
}

.slider .your-class .slick-slide {
  overflow: hidden;
}

.slider .your-class .slick-slide .banner-slide {
  position: relative;
  min-height: 800px;
  padding-bottom: 100px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .your-class .slick-slide .banner-slide .container {
  position: relative;
  z-index: 12;
}

.slider .your-class .slick-slide .banner-slide .container .content {
  max-width: 1280px;
  color: #ffffff;
}

.slider .your-class .slick-slide .banner-slide .container .content h1 {
  font-size: 65px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.1;
  width: 70%;
  margin-bottom: 18px;
}

.slider .your-class .slick-slide .banner-slide .container .content p {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
  opacity: .9;
  max-width: 600px;
}

.slider .your-class .slick-slide .banner-slide .container .content .cta-btn {
  padding-top: 30px;
}

.slider .your-class .slick-slide .banner-slide .container .content .cta-btn .button {
  text-decoration: none;
  border: 1px solid #00a63f;
  border-radius: 8px;
  padding: 15px 50px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  color: #ffffff;
  background-color: #00a63f;
  display: inline-block;
  cursor: pointer;
}

.slider .your-class .slick-slide .banner-slide .container .content .cta-btn .button:hover {
  color: #ffffff;
  background-color: #008030;
  border-color: #008030;
}

.slider .your-class .slick-slide .banner-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 42, 55, 0.7);
}

@media screen and (max-width: 992px) {
  .slider .your-class .slick-slide .container {
    max-width: 720px;
    padding: 0;
  }
  .slider .your-class .slick-slide .container .content h1 {
    font-size: 50px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .slider .your-class .slick-slide .container {
    max-width: 540px;
    padding: 0;
  }
  .slider .your-class .slick-slide .container .content h1 {
    font-size: 45px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .slider .your-class .slick-slide .container {
    padding: 0 15px;
  }
  .slider .your-class .slick-slide .container .content h1 {
    font-size: 40px !important;
    width: 100% !important;
  }
}

.slider .your-class .slick-prev {
  right: 95px;
  left: auto;
  top: 90%;
  width: 20%;
  bottom: 0;
  z-index: 12;
  margin-right: 30px;
}

.slider .your-class .slick-prev::before {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #213364;
  font-size: 60px;
  opacity: 1;
}

.slider .your-class .slick-next {
  top: 90%;
  bottom: 0;
  width: 10%;
  margin-right: 70px;
  z-index: 12;
}

.slider .your-class .slick-next::before {
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #213364;
  font-size: 60px;
  opacity: 1;
}

.slider .your-class .slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
  background: #ffffff;
}

.slider .your-class .slick-arrow::before {
  font: normal normal normal 16px/1 FontAwesome;
  font-size: 16px;
  text-align: center;
  line-height: 46px;
  color: #213364;
  background: #ffffff;
}

.slider .your-class .slick-dots {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

.slider .slick-dotted {
  margin-bottom: 0;
}

.slider .shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.slider .shape svg {
  width: 100%;
  overflow: hidden;
  display: block;
}

.slider .shape svg path {
  fill: #ffffff;
}

.sliderrr {
  width: 100%;
  min-height: 385px;
  position: relative;
  height: 100%;
  background: url(https://wp.w3layouts.com/corpvision/wp-content/themes/corpvision/assets/images/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sliderrr .sliderrr__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  padding-top: 10rem;
  padding-left: 2px;
  padding-right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sliderrr .sliderrr__content h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.sliderrr .sliderrr__content p {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}

.sliderrr .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 42, 55, 0.7);
  z-index: 1;
}

footer {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  padding-top: 3rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  footer .footer__content .footer__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50% !important;
    margin-top: 30px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  footer .footer__content #footer__col {
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
    width: 100% !important;
  }
  footer .footer__content .footer__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100% !important;
    margin-top: 30px;
  }
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer__content #footer__col {
  max-width: 33.33%;
  padding-right: 15px;
  padding-left: 15px;
}

footer .footer__content #footer__col #title {
  color: white;
  font-size: 22px !important;
  font-weight: 400 !important;
  margin-bottom: 20px;
}

footer .footer__content #footer__col h2 {
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
}

footer .footer__content #footer__col h2 i {
  color: #009f4d;
}

footer .footer__content #footer__col h2 i span {
  color: white;
}

footer .footer__content #footer__col h2 p {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  margin-top: 0px;
}

footer .footer__content #footer__col p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}

footer .footer__content #footer__col p i {
  margin-right: 15px;
  margin-top: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

footer .footer__content #footer__col p i:hover {
  color: white;
}

footer .footer__content .footer__col {
  max-width: 16.66%;
  padding-right: 15px;
  padding-left: 15px;
}

footer .footer__content .footer__col h2 {
  color: white;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

footer .footer__content .footer__col p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer__content .footer__col p:hover {
  color: white;
}

footer .footer__bottoms {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  margin-top: 3rem;
  color: white;
  text-align: center;
}

footer .footer__bottoms P {
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: .5px;
  opacity: 1;
}

footer .footer__bottoms P span {
  color: #009f4d;
}
/*# sourceMappingURL=services.css.map */